


.price {
  color: #565458;
  text-decoration: line-through;
}

.selling-price {
  font-size: 1.1em;
  color: #af1a31;
}

.add-to-cart {
  width: 95%;
  height: 2em;
  border: 1px solid #af1a31;
  background: #af1a31;
  color: #fff;
}

.add-to-cart:hover {
  background: #851023;
  border-color: #851023;
  color: #fff;
}
