<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6">
  <img [src]="product.thumbnail.href" alt="Product Image" (click)="open()" >
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
  <h3>{{product.name}}</h3>
  <p class="price">${{product.priceRange.regular.low}} - ${{product.priceRange.regular.high}}</p>
  <p class="selling-price">Limited Time Offer ${{product.priceRange.selling.low}} - ${{product.priceRange.selling.high}}</p>
  <button class="add-to-cart">Add to cart below</button>
</div>
</div>
