
<main>

  <div class="container">
   <div class="title"> <h1>Products</h1> </div>


    <!--<div *ngFor="let group of productInfo.groups"></div>-->

      <app-product-card *ngFor="let group of productInfo.groups"
                        [product]="group"></app-product-card>
  </div>
</main>


<router-outlet></router-outlet>
