/* You can add global styles to this file, and also import other style files */

img {
  height: 500px;
  width:100% ;
}


@media (max-width: 500px) {
  img {
    height: 300px;
  }
}


@media (min-width: 501px) and (max-width: 767px) {
  img {
    height: 400px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  img {
    height: 450px;
  }
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px; }

}
